<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
  <appSettings>
    <!-- log4net  -->
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    <!-- LightTrade -->
    <!--<add key="environment" value="PROD"/> -->
    <!-- DEV -->
    <!-- replaced by runtime set of environment at marketdatautils instanciation-->
    <!-- Mail Sender -->
    <!--<add key="MailSender" value="genericMailaddressShouldBeBetter"/>-->
    <add key="MailTeam" value="lfis_quant@lafrancaise-group.com" />
    <add key="MailGestion"
         value="GDUPIN@lafrancaise-group.com,yleher@lafrancaise-group.com,yyeramian@lafrancaise-group.com,ggarchery@lafrancaise-group.com,ELAURENTBELLUE@lafrancaise-group.com,mbelal@lafrancaise-group.com,SLEPINE@lafrancaise-group.com,amoutard@lafrancaise-group.com" />
    <add key="MailRisk" value="DIF_Risque_LFIS@lafrancaise-group.com" />
    <add key="MailBank" value="dvergnaud@lafrancaise-group.com" />
    <!--<add key="MailTeam" value="alrocha@lafrancaise-group.com"/>-->
    <add key="MailSMTP" value="sherpa.groupe-ufg.com" />
    <!-- Instruments -->
    <add key="TranchesEntities"
         value="22548,22549,22550,22551,22745,23570,23571,23565,23566,23567,23568,23569,23876,23884,23885,23886,24899,25005" />
    <!--<add key="WorkDirectory" value="LFISService"/>-->
    <add key="WorkDirectory" value="\\groupe-ufg.com\commun\Prive\LFIS-LFB Services\Pricing\tools\LFService\Files" />
    <!-- JaceLocal, JaceDev, JaceProd -->
    <add key="JaceConnectionMode" value="JaceProd" />
    <add key="JaceDirectory" value="\\groupe-ufg.com\commun\Production\LFISPROD\SA\DB\JACE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
  <!-- log4net -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="ALL" />
      <file type="log4net.Util.PatternString"
            value="\\groupe-ufg.com\commun\Prive\LFIS-LFB Services\Pricing\tools\LFService\_Logs\%username\logs.txt" />
      <!--value="\\groupe-ufg.com\commun\Prive\LFIS-LFB Services\Pricing\tools\LFService\_Logs\%username\logs.txt" value="C:\Temp\LFSerice\%username\logs.txt"-->
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level] [%logger] : %message%newline" />
        <!--[%property{NDC}]-->
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="FATAL" />
      </evaluator>
      <bufferSize value="1" />
      <lossy value="true" />
      <port value="25" />
      <smtpHost value="sherpa.groupe-ufg.com" />
      <!--<to value="GGARCHERY@lafrancaise-group.com,fxsapa@lafrancaise-group.com,alrocha@lafrancaise-group.com" />-->
      <to value="alrocha@lafrancaise-group.com" />
      <from value="alrocha@lafrancaise-group.com" />
      <subject value="[LF.Service] Error" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%newline%username%newline%newline%date [%thread] [%-5level] [%logger] : %message%newline" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level: %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="WARN" />
      <!--<level value="ALL" />-->
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
    <logger name="RollingFileAppender">
      <level value="WARN" />
    </logger>
  </log4net>
  <system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="4" />
      <!-- 1 -->
    </switches>
  </system.diagnostics>
  <!-- '''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' -->
  <!-- Web Services -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- LFIS WS for tests purposes -->
        <binding name="basicHttpBinding_ILFISBroker" openTimeout="00:10:00" closeTimeout="00:10:00"
                 sendTimeout="00:10:00" receiveTimeout="00:10:00" maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- LFIS WS for tests purposes -->
      <endpoint address="http://01srvweblfis01/LFISBrokerService/LFISBrokerService.svc" binding="basicHttpBinding"
                bindingConfiguration="basicHttpBinding_ILFISBroker" contract="LFISBrokerService.ILFISBroker"
                name="basicHttpBinding_ILFISBroker">
        <identity>
          <servicePrincipalName value="host/01SRVWEBLFIS01.groupe-ufg.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <!-- Entity Framework & Connection strings-->
  <connectionStrings>
    <add name="JaceDev"
         connectionString="Data Source=SQLLFISDEV,1460;Initial Catalog=Jace;Persist Security Info=True;User ID=JaceUserRW;Password=0Dq#02bj;MultipleActiveResultSets=True;Connection Timeout=10000;multisubnetFailover=true"
         providerName="System.Data.SqlClient" />
    <add name="JaceProd"
         connectionString="Data Source=SQLLFIS,1460;Initial Catalog=Jace;Persist Security Info=True;User ID=JaceUserRW;Password=0Dq#02bj;MultipleActiveResultSets=True;Connection Timeout=10000;multisubnetFailover=true"
         providerName="System.Data.SqlClient" />
    <add name="JaceLocal"
         connectionString="Data Source=(localdb)\v11.0;Initial Catalog=JaceSQL;Integrated Security=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>